* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
  color: #757575;
}

input:focus,
select:focus,
button:focus {
  outline: 0;
}

.sign-box {
  width: 100%;
  max-width: 480px;
  text-align: center;
  background-color: #ace1fb;
  text-transform: uppercase;
  padding: 20px 0px;
  border-radius: 20px;
}

.sign-box h1 {
  font-family: 'Pacifico', cursive;
  margin-bottom: 40px;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(169, 213, 237, 0.4) 0%,
      rgba(0, 212, 255, 0.5) 100%
    ),
    url(https://images.unsplash.com/photo-1599335727546-450eb6753648?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-box__content {
  background-color: #ace1fb;
  display: flex;
  justify-content: center;
}

.text-fill {
  text-decoration: none;
  width: 380px;
  height: 50px;
  margin-bottom: 40px;
  padding-left: 10px;
  font-family: 'PT Sans Caption', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  border: none;
  border-radius: 10px;
  background: #ace1fb;
  box-shadow: inset 5px 5px 9px #92bfd5, inset -5px -5px 9px #c6ffff;
}

.text-bold {
  font-weight: 700;
  margin-right: 10px;
}

.gender {
  margin: 10px 90px;
}

.gender-style {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  background: #ace1fb;
  box-shadow: inset 5px 5px 9px #92bfd5, inset -5px -5px 9px #c6ffff;
}

.date,
.month,
.year {
  padding-left: 10px;
  font-family: 'PT Sans Caption', sans-serif;
  color: #757575;
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background: #ace1fb;
  box-shadow: inset 5px 5px 9px #92bfd5, inset -5px -5px 9px #c6ffff;
}

select {
  margin-right: 20px;
}

.birthday {
  margin: 30px 0px;
}

.terms {
  margin: 0px 50px;
  margin-top: 60px;
  padding-right: 20px;
}

.terms a {
  text-decoration: none;
  color: #757575;
  font-weight: bold;
  margin-right: 10px;
}

.checkbox-style {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ace1fb;
  box-shadow: inset 5px 5px 9px #92bfd5, inset -5px -5px 9px #c6ffff;
}

.submit-btn {
  font-family: 'PT Sans Caption', sans-serif;
  color: #757575;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 700;
  border: none;
  width: 280px;
  height: 60px;
  margin: 60px 30px 40px 10px;
  border-radius: 23px;
  background: #ace1fb;
  box-shadow: 5px 5px 10px #92bfd5, -5px -5px 10px #c6ffff;
}

.submit-btn:hover {
  background: linear-gradient(145deg, #8ec1d9, #a9e5ff);
  box-shadow: 6px 6px 14px #88b8cf, -6px -6px 14px #b4f4ff;
}

.submit-btn:active {
  background: #9ed6f1;
  box-shadow: inset 9px 9px 19px #86b6cd, inset -19px -19px 19px #b6f6ff;
}
